<div class="container">
    <form [formGroup]="employeeForm"  novalidate>
        <div *ngIf="validMessage != ''" style="color: red;">
            <h3 class="has-info">{{validMessage}}</h3>
        </div>
        <div class="form-group">
            <label style="color: red;">*</label>
            <label> First Name: </label>
            <input type="text" class="form-control" disabled='toggleUserNameButton' formControlName="first_name" />
            

        </div>
        <div class="form-group">
            <label style="color: red;">*</label>
            <label> Last Name: </label>
            <input type="text" class="form-control" formControlName="last_name" disabled='toggleUserNameButton' [disabled]='toggleUserNameButton' required/>
        

        </div>
        <div class="form-group">
            <label style="color: red;">*</label>
            <label> Email: </label>
            <input type="Email" class="form-control" formControlName="email" disabled='toggleUserNameButton' required/>
        

        </div>
     
        <div class="form-group">
            <label style="color: red;">*</label>
             <label> Phone Number: </label>
            <input type="text" class="form-control" formControlName="phone_number" disabled='toggleUserNameButton' required/>
        

        </div>
        <div class="form-group">
            <label style="color: red;">*</label>
            <label> Salary: </label>
            <input type="text" class="form-control" formControlName="salary" disabled='toggleUserNameButton' required/>
       

        </div>
        
      
        <div class="form-group">
            <label style="color: red;">*</label>
            <label> Job Title: </label>
         
          <input type="text" class="form-control" formControlName="job_id" disabled='true' required/>
        
         

        </div>

        <button (click) ="submitupdateEmployeeAction()" id="submit" type="confirm" class="btn btn-primary" [disabled]="confirmButtonStarus">CONFIRM</button>
        </form>
        <div class="action_icon">   
            <button (click)="switchButton(toggleUserNameButton)"  (click) ="enteredValue(enterValue)" id="edit" class="btn btn-primary">{{buttonText()}}</button>

            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; 

            <a  routerLink="/employees"  id="navigateBack" class="btn btn-primary" type="button" >Back to List</a>
            &nbsp; &nbsp; 
        </div>

</div>