  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<div class="navigateMenu">
    <div class="navbordertop"></div>
    <div class="navborderLeft"></div>
    <div class="navborderright"></div>
  
    <div class="buttonBorder">
  <button  routerLink="/employees" id="button" class="employeeNav" type="button">Employees</button>
</div>
  <button  routerLink="/departments" style="text-decoration: none;" id="button"  class="departmentNav" type="button">Departments</button>
  <button  id="button"  class="Managers" type="button">Managers</button>
  <button  id="button"  class="departmentNav" type="button">Countries</button>
  
  
    <div class="navborderBottom"></div>
  
  </div>